.LoginView {
    height: 100%;
    background-color: dodgerblue;
    text-align: center;
    position: relative;
}

.container {
    text-align: center;
}

.card {
    width: 275px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.actions {
    display: block !important;
    text-align: center;
}