.GridView {
    height: 100%;
}

.GridViewBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.GridViewTable {
    flex: 1;
}

.ragRed {
    background-color: lightcoral;
}
.ragGreen {
    background-color: lightgreen;
}
.ragAmber {
    background-color: lightsalmon;
}